@use "variables";

.wrapper {
  box-sizing: border-box;
  @include variables.flex-direction-column(column);
  @include variables.align-items(flex-start);
}

.title {
  width: 80%;
  margin-bottom: 20px;
  font-weight: 800;
  font-size: 50px;
  letter-spacing: -0.05em;
  line-height: 130%;
  text-transform: uppercase;
  color: #161616;
  align-self: flex-start;

  text-shadow:  0 0 15px rgba(255, 255, 255, 0.7);

  &_accent {
    color: variables.$accent-font-color;
  }
}
