@use "variables";

.subtitle {
  width: 100%;
  margin: 20px 0;
  font-weight: 800;
  font-size: 30px;
  line-height: 150%;
  text-transform: uppercase;
  text-align: center;
  background-color: variables.$accent-font-color;
  color: #ffffff;
  border-radius: 15px;
  border: none;
  outline: none;
  transition: all 0.2s ease-in-out;
  &:hover {
    background-color: variables.$accent-hover-font-color;
  }

  position: relative;
}

.description {
  width: 70%;
  font-weight: 600;
  font-size: 16px;
  line-height: 120%;
  color: #161616;
  text-align: center;
}

.about_item {
  @include variables.dispFlex();
  @include variables.flex-direction-column(column);
  @include variables.align-items(center);
  width: 100%;
}

.more_btn {
  position: absolute;
  right: 10px;
  top: 0;
  bottom: 0;
  margin: auto 0;
}

@media only screen and (max-width: 1200px){
  .subtitle {
    font-size: 20px;
    padding: 5px 35px;
  }
  .description {
    width: 90%;
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    padding: 10px;
    box-sizing: border-box;
    box-shadow: 0 0 15px rgba(189, 189, 189, 0.66);
  }
  .more_btn {
    height: 30px;
    width: 30px;
  }
}