@use "variables";
@import "_reset.css";
@import "fontface";


.wrapper {
  width: 1200px;
  margin: 0 auto;
  @include variables.dispFlex();
  @include variables.align-items(center);
  @include variables.justify-content(space-between);
}

body {
  font-family: "Mulish", sans-serif;
}

@media only screen and (max-width: 1200px) {
  .wrapper {
    width: 90%;
    margin: 0 auto;
  }
}

#navbar-toggle {
  display: none;
}
