@use "variables";

.go_home {
  text-decoration: none;
}

.logo {
  height: 40px;
}

.header {
  @include variables.dispFlex();
  @include variables.align-items(center);
  height: 80px;
  box-sizing: border-box;
  box-shadow: 0 0 30px #90BFD7;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: rgba(255, 255, 255, 0.6);
  margin-bottom: 50px;
}

.nav_list {
  @include variables.dispFlex();
  gap: 40px;
}

.nav_list_item {

}

.nav_list_link {
  text-decoration: none;
  font-weight: 600;
  font-size: 14px;
  line-height: 150%;
  text-transform: uppercase;
  color: #161616;
  @include variables.hover-underline();
}

.burger {
  display: none;
}

.contacts_title, .donate_title {
  font-weight: 800;
  font-size: 25px;
  line-height: 150%;
  text-transform: uppercase;
  color: #161616;
  margin-bottom: 20px;
  text-align: center;
}
.contacts_list, .donate_list {
  @include variables.dispFlex();
  @include variables.justify-content(space-between);
}

.contacts_list_item, .donate_list_item {
  text-decoration: none;
  color: #161616;
  transition: all 0.2s ease-in-out;
}

.contacts_list_icon {
  width: 45px;
  height: 45px;
  fill: #161616;
  transition: all 0.1s ease-in-out;
  &:hover {
    transform: scale(1.1);
    fill: variables.$accent-font-color;
  }
}

.contacts_wrap {
  margin: auto auto 0;
  width: 90%;
}
.donate_wrap {
  width: 90%;
  margin: 50px auto;
}

.donate_list {
  font-size: 20px;
}
@media only screen and (max-width: 650px) {
  .nav {
    display: none;
  }
  .burger {
    border: 0;
    outline: 0;
    background-color: transparent;
    display: block;
  }

  .wrapper {
    @include variables.flex-direction-column(column);
  }
  .mobile_wrap {
    width: 100%;
    @include variables.dispFlex();
    @include variables.flex-direction-row(row);
    @include variables.justify-content(space-between);
    @include variables.align-items(center);
  }

}


