@use "variables";

.wrapper {
  flex-wrap: wrap;
  @include variables.align-items(flex-start);
  @include variables.justify-content(flex-start);
  gap: 40px;
  box-sizing: border-box;
}


@media only screen and (max-width: 1200px){
  .wrapper {
    @include variables.flex-direction-column(column);
    @include variables.align-items(center);
  }

}
