@use "variables";

.wrapper {
  @include variables.flex-direction-row(row);
  flex-wrap: nowrap;
  @include variables.align-items(flex-start);
  gap: 20px;
}


@media only screen and (max-width: 700px){
  .wrapper {
    @include variables.flex-direction-column(column);
  }
}


@media only screen and (max-width: 1200px) {
  .wrapper {
  background-color: rgba(255, 255, 255, 0.6);
    padding: 10px;
    border-radius: 10px;
  }
}
