@use "variables";

.aside {
  flex: 1;
  width: 50%;

  @media only screen and (max-width: 800px) {
    width: 30%;
  }
  @media only screen and (max-width: 500px) {
    width: 100%;
  }
}

.cover {
  width: 100%;
  border-radius: 10px;

  @media only screen and (max-width: 500px) {
    width: 100%;
  }
}

.list_title {
  font-weight: 800;
  font-size: 16px;
  letter-spacing: -0.05em;
  text-transform: uppercase;
  color: #161616;
  margin-bottom: 10px;
  margin-top: 20px;
}

.text {
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.05em;
  line-height: 120%;
  color: #161616;
}


@media only screen and (max-width: 500px) {
  .list_title {
    margin: 0;
  }
  .infoStyle {
    margin: 10px 0;
    @include variables.dispFlex();
    @include variables.flex-direction-row(row);
    @include variables.align-items(center);
    @include variables.justify-content(space-between);
  }
}
