
body {
    margin: 0;
    background-image: url("./assets/images/manga.svg"),
    url("./assets/images/background-tomo.png");
    background-size: contain, contain;
    background-position: left center, right center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/*@media only screen and (min-width: 1200px) {*/
/*    body {*/
/*        background-image: url("./assets/images/background-manga.png"),*/
/*        url("./assets/images/background-spirited.png"),*/
/*        url("./assets/images/background-tomo.png");*/
/*        background-size: contain;*/
/*        background-position: left center, right center, right center;*/
/*        background-repeat: no-repeat;*/
/*        background-attachment: fixed;*/
/*    }*/
/*}*/

#root {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}
html {
    min-height: 100vh;
    font-size: 16px;
}
